---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    {% if post.description %}<p>{{ post.description }}</p>{% endif %}
    {% if post.starting_bid %}<p><b>Starting bid: ${{ post.starting_bid }}</b></p>{% endif %}
    {% if post.value %}<p><b>Estimated value: ${{ post.value }}</b></p>{% endif %}
    
  </div>
</article>
{% endfor %}

{% include pagination.html %}
